{% extends "bootstrap/base.html" %}


{% block title %}Terraform State Manager{% endblock %}

{% block body %}
{% block content %}
<div class="container">
    <h1 class="text-center">Terraform State Manager</h1>
    {% if states|length < 1 %}
        <h4 class="text-center">There are no states.</h4>
    {% else %}
        <table class="table table-hover">
            <tr class="active">
                <th class="text-center">Name</th>
                <th class="text-center">Added</th>
                <th class="text-center">Last activity</th>
                <th class="text-center">Actions</th>
            </tr>
            {% for state in states %}
                <tr class="text-center">
                    <td>{{ state.name }}</td>
                    <td>{{ state.date_created.date() }}</td>
                    <td>-</td>
                    <td>
                        <a class="btn btn-danger" href="/delete/{{state.id}}">Delete</a>
                        <a class="btn btn-warning" href="/rename/{{state.id}}">Rename</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <form action="/" method="post" class="form-inline text-center">
        <div class="form-group">
            <input class="form-control" type="text" name="name" id="name" placeholder="terraform.tfstate">
        </div>
        <input class="btn btn-success" type="submit" value="Add State">
    </form>
</div>
{% endblock%}
{% endblock%}