{% extends "bootstrap/base.html" %}

{% block title %}Rename State{% endblock %}


{% block body %}
{% block content %}
<div class="container">
    <h1  class="text-center">Rename State</h1>

    <form action="/rename/{{state.id}}" method="post" class="form-inline text-center">
        <div class="form-group">
            <input class="form-control" type="text" name="name" id="name" value="{{state.name}}">
        </div>
        <input class="btn btn-warning" type="submit" value="Rename">
    </form>
</div>
{% endblock%}
{% endblock%}